*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    /* line-height:1.5; */
}

a{
    text-decoration:none;
}

header{
    background-color:#ffffff;
    border-bottom: 1px solid #eeeeee;
}

.container{
    max-width:1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar{
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#222222;
}

.nav-links{
    display:flex;
    gap:28px;
}

.nav-links a{
    color:#333333;
    font-size:15px;
    font-weight:500;
}

.nav-links a:hover{
    color:#e91e63;
    transition: color 0.3 ease;
}

.nav-button{
    display:inline-block;
    padding: 12px 20px;
    background-color:#222222;
    color:white;
    border-radius:6px;
    font-weight:600;
    transition: 0.3s ease;
}

.nav-button:hover{
    background-color:#e91e63;
}


/** Hero Section **/

.hero{
    min-height:600px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position:center;
    position: relative;
    display: flex;
    align-items:center;
    /* color:#ffffff */
   }

.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content{
    position: relative;
    z-index: 1;
    max-width: 650px;
}

.hero-subtitle{
    color:#ffffff;
    font-size:0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.hero h1{
    color: #ffffff;
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-text{
    color: #ffffff;
    font-size: 18px;
    line-height: 1.6;
    max-width: 550px;
    margin-bottom: 30px;
}

.hero-buttons{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 0.95rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-primary{
    background-color: #e91e63;
    color: #ffffff;
}

.btn-primary:hover{
    background-color: #c2185b;
}

.btn-secondary{
    background-color: #ffffff;
    color: #222222;
}

.btn-secondary:hover{
    background-color: #eeeeee;
}


/** Categories Section **/

.categories{
    padding: 80px 0;
}

.section-heading{
    text-align: center;
    margin-bottom: 45px;
}

.section-subtitle{
    color: #e91e63;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.section-heading h2{
    font-size: 38px;
    color:#222222;
    margin-bottom: 12px;
}

.section-heading > p:last-child{
    color:#666666;
    font-size: 16px;
}

.category-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.category-card{
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card img {
    width:100%;
    height: 260px;
    display: block;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.category-content {
    padding: 22px;
}

.category-content h3 {
    color: #222222;
    font-size: 20px;
    margin-bottom: 10px;
}

.category-link {
    color: #e91e63;
    font-size: 14px;
    font-weight: 600;
}

.category-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.category-card:hover img {
    transform: scale(1.05);
}



/** Priduct Section **/

.products {
    padding: 80px 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product-card {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease box-shadow 0.3s ease;
}

.product-image {
    position: relative;
    overflow: hidden;
}

.product-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    padding: 7px 10px;
    background-color: #e91e63;
    color: #ffffff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
}

.product-badge.new {
    background-color: #222222;
}

.product-info {
    padding: 20px;
}

.product-image img {
    width: 100%;
    height: 320px;
    display: block;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.product-info h3 {
    font-size: 20px;
    color: #222222;
    margin-bottom: 8px;
}

.product-category {
    color: #777777;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-rating {
    color: #f5a623;
    font-size: 30px;
    margin-bottom: 5px;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.old-price {
    color: #999999;
    text-decoration: line-through;
    font-size: 14px;
}

.new-price {
    color: #222222;
    font-size: 20px;
    font-weight: bold;
}

.product-button {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 12px;
    background-color: #222222;
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.product-button:hover {
    background-color: #e91e63;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.product-card:hover .product-image img {
    transform: scale(1.05);
}


@media (max-width:768px) {
    .navbar{
        flex-direction:column;
        gap:20px;
        padding:20px;
    }
    .nav-links {
        flex-wrap: wrap;
        justify-content:center;
        gap:15px;
    }
    .hero h1{
        font-size: 42px;
    }
    .hero-text{
        font-size: 16px;
        text-align: center;
    }
    .hero-content{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .category-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .categories {
        padding: 60px 0;
    }
    .section-heading h2 {
        font-size: 32px;
    }
    .category-card img {
        height: 220px;
    }
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .products {
        padding: 60px 0;
    }
    .product-image img {
        height: 260px;
    }
}


@media (max-width: 480px) {
    .category-grid{
        grid-template-columns: 1fr;
    }
    .section-heading h2 {
        font-size: 28px;
    }
    .category-card img {
        height: 240px;
    }
    .product-grid {
        grid-template-columns: 1fr;
    }
    .product-image img {
        height: 300px;
    }
}